* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 100%;
    padding: 0 10px;
    margin: 0 auto;
    height: 100vh;
}

button:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.flex {
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    gap: 20px;
}

.message {
    width: 220px;
    height: 40px;
    background-color: bisque;
    margin-bottom: 10px;
}

.form-submit {
    width: 400px;
    height: 300px;
    padding: 3px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 7px;
}

.form-submit button {
    width: 30%
}